:root{
--cor-fundo: #17c5e4;
--cor-principal: #1996df;
--cor-secundaria: #142ce2;
--cor-destaque: #1c1d1d;
--COR-TEXTO: #D7F9FF;
}
body{
background-color: var(--cor-fundo);
color: var(--cor-texto);
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
}
.caixa-principal{
background-color: var(--color-principal);
width: 90%;
max-width: 600px;
text-align: center;
padding: 20px;
}
h1{
color: var(--cor-destaque);
}
.caixa-perguntas{
padding-bottom: 10px;
}
button{
background-color: var(--cor-secundaria);
color: var(--cor-texto);
border: none;
border-radius: 15px;
padding: 15px;
transition: backgrond-color 0.3s;
}
button:hover{
backgruond-color: var
